body{
	margin:0;
	font-family:sans-serif;
}

a{
	color:#000;
	text-decoration:none;
	font-size:2em;
}

.page{
	width:100%;
	height:100%;
}

#toolbox-page{
	background:#66ccff;
}

#tut-page{
	background:#d7c163;
	display:none;
}

.page-title{
	text-align:center;
	text-transform:uppercase;
	font-size:3em;
}

.toolbox{
	padding:0;
	text-align:center;
	width:100%;
	list-style-type:none;
	background-repeat:no-repeat;
}

.toolbox-tool{
	height:5em;
}

#brainwriting{
	background-image:url("../img/brainwriting.jpg");
	background-repeat:no-repeat;
}

#mind-map{
	background-image:url("../img/mind-map.jpg");
	background-repeat:no-repeat;
	background-position:center;
	background-size:100%;
}

.tut-img{
	width:100%;
	height:20em;
	background-image:url("../img/mind-map.jpg");
	background-repeat:no-repeat;
	background-position:center;
	background-size:100%;
}

.left-arrow{
	text-align:left;
	width:20px;
	font-size:5em;
}

.right-arrow{
	text-align:right;
	font-size:3em;
	margin-top:-1em;
}